<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.NoticeMapper">

    <resultMap id="NoticeResultMap" type="com.example.entity.Notice">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="time" property="time"/>
    </resultMap>

    <select id="selectAll" resultMap="NoticeResultMap">
        select * from notice
        order by id desc
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into notice(title, content, time)
        values(#{title}, #{content}, #{time})
    </insert>

    <update id="updateById">
        update notice
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="time != null">time = #{time}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from notice where id = #{id}
    </delete>

</mapper>